/* Includes logo, login and registration links */
header {
	margin-top: 0;  /* Set margin top */
	padding: 3em 1 em 2 em 1 em;  /* Set padding */
	border-bottom: 2px solid black; /* Set border bottom */
  display: flex;  /* display items in a row */
	align-items: center;  /* align items in the center */

}

/* Dropdown Button */
.dropbtn {  /* style the dropdown button */
  color: white; /* Set color */
  padding: 16px;  /* Set padding */
  font-size: 16px;  /* Set font size */
  border: none; /* Set border */
  cursor: pointer;  /* Set cursor */
}

.dropdown { /* style the dropdown */
  position: relative; /* Set position */
  display: inline-block;  /* Set display */
}

.dropdown-content { /* style the dropdown content */
  display: none;  /* Set display */
  position: absolute; /* Set position */
  background-color: #f9f9f9;  /* Set background color */
  min-width: 160px; /* Set min width */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Set box shadow */
  z-index: 1; /* Set z index */
  right: 0; /* Set right */
}

.dropdown-content a { /* style the dropdown content links */
  color: black; /* Set color */
  padding: 12px 16px; /* Set padding */
  text-decoration: none;  /* Set text decoration */
  display: block; /* Set display */
}

.dropdown-content a:hover { /* style the dropdown content links when hovered */
  background-color: #f1f1f1;  /* Set background color */
}

.dropdown:hover .dropdown-content { /* style the dropdown content when hovered */
  display: block; /* Set display */
}


html {  /* style the html */
	box-sizing: border-box; /* Set box sizing */
	height: 100%; /* Set height */
}
* {
	box-sizing: inherit;
}




nav { /* style the navigation */
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	font-family: 'Trebuchet MS', sans-serif;
	list-style-type: none;  /* Remove bullt points*/
	flex-grow: 1;

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: right;
	}
}
nav ul li a {
    padding: 2px 3px;
    font-size: 15px;
    text-decoration: none;  /* Remove underline */
    font-weight: bold;
    color: #444;
}
nav ul li a:hover {
	background: #FFF;
	color: #2E7D32;
}
nav ul li {
    display: inline-block;
    margin: 10px;
}
nav ul {
    list-style: none;
}



.simpleSearch {
	width: 250px;
	height: 23px;
	padding: 0 0 0 3px;
	overflow: hidden; /* Hide the overflow */
	display: flex;  /* display items in a row */
	vertical-align: middle; /* align items in the middle vertically */
	align-items: center;  /* align items in the center */

	input {
		width: 195px;
	}

}


main {
  display: flex;  /* display items in a row */
  flex-direction: column; /* align items in a column */
  /* justify-content: center; */
  align-items: center;  /* align items in the center */
  height: 100vh; /* Viewport height */
  background: url('images/landing-images/landing-dishes-3.png') no-repeat center center; /* Background image path */
  background-size: cover; /* Set background size to cover */
}

.landing-main-block {
  text-align: center; /* Align text in the center */
  padding: 20px;  /* Set padding */
  max-width: 600px; /* Set max width */
  margin-top: 30px; /* Set margin top */
}

.landing-main-block h1 {  /* style the heading */
  margin: 10 0 20px 0;  /* Set margin */
  font-size: 3em; /* Set font size */
  font-family: 'Trebuchet MS', sans-serif;  /* Set font family */
  color: black; /* Set color */
  text-shadow: 1px 1px 2px white; /* Set text shadow */
  letter-spacing: .2rem;  /* Set letter spacing */
  word-spacing: .2rem;  /* Set word spacing */
}

.landing-main-block p { /* style the paragraph */
  font-size: 1em; /* Set font size */
  margin: 0;  /* Set margin */
  font-family: 'Trebuchet MS', sans-serif;  /* Set font family */
  color: black; /* Set color */
  text-shadow: 1px 1px 2px white; /* Set text shadow */
  line-height: 2em; /* Set line height */
}

.landing-text { /* style the text */
    color: #424242; /* Set color */
}

#logo { /* style the logo */
    vertical-align: middle; /* Set vertical align */
    font-size: 30px;  /* Set font size */
    margin-right: 35px; /* Set margin right */
    color: black; /* Set color */
	display: flex;    /* display items in a row */
	align-items: center;  /* align items in the center */
}
#logo img { /* style the logo image */
    width: 50px;  /* Set width */
    vertical-align: middle; /* Set vertical align */
    margin-right: 10px;
}

body {  /* style the body */
		font-size: 100%;
		font-style: normal;
		background-color: white;
		padding: 1em;
		font-family: Tahoma, Verdana, sans-serif;
		margin: 0;
		height: 100%;
}


.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
	height: 50px;
	background-color: #709a2e;
	color: #ffffff;
	margin-top: auto;
	text-align: center;
  align-items: center;
}

.footer p {
  margin-left: 10px;
}
.banner-image {
  width: 100%;
  height: auto;
}



@media screen and (max-width: 600px) {  /* Set media queries for screens 6000 px and less */
	.landing-main-block {
		max-width: 90%; /* Ensure they don't overflow on smaller screens */
	}

  .landing-main-block h1 {
    margin: 10 0 20px 0;
    font-size: 2em;
    font-family: 'Trebuchet MS', sans-serif;
    color: black;
    text-shadow: 1px 1px 2px white;
    letter-spacing: .2rem;
    word-spacing: .2rem;
  }
}
