
/* Background colour */
body {
  background-color: white;
}
/* header styles */
header {
	margin-top: 0;
	border-bottom: 2px solid black;
  display: flex; /* items will display next to eachother using flexbox */
	align-items: center; /* items will be aligned in the center on the cross axis */
}

/* Dropdown Button */
  .dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* dropdown on header */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


#logo {
  vertical-align: middle;
  font-size: 30px;
  margin-right: 35px;
  color: black;
display: flex;
align-items: center;
}
#logo img {
  width: 50px;
  vertical-align: middle;
  margin-right: 10px;
}

nav {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	font-family: 'Trebuchet MS', sans-serif;
	list-style-type: none;
	flex-grow: 1;


	ul {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: right;
	}
}
nav ul li a {
    padding: 2px 3px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #444;
}
nav ul li a:hover {
	background: #FFF;
	color: #2E7D32;
}
nav ul li {
    display: inline-block;
    margin: 10px;
}
nav ul {
    list-style: none;
}

.landing-image {
  margin: 5px;
  height:500px;
  width: 49%;
  margin-top: 20px;
}

.landing-image img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

input,
select {
    background-color: #f6f6f6;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 100%;
}

input::placeholder,
select {
    font-style: italic;
}

#search-form {
  display:flex;
}

#search-bar {
  width: 500px;
}

#search-bar-mobile {
  display:none;
}


select {
    position: relative;
    max-width: 200px;
    width: 100%;
    appearance: none;
    background-image: url('images/user-page/triangle-icon.svg');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 12px);
    background-position-y: center;
}



h2 {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 2em

}

h3 {
  font-family: 'Trebuchet MS', sans-serif;
}

h5 {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1em;

}


p, ul, ol, li{
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1em;
}

.login-register-form, .input, .button {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1em;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}



.main {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}


.recipe-image {
  margin: 5px;
  height:500px;
  width: 49%;

}

.recipe-image img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.recipe-info {
  min-height:500px;
  margin: 5px;
  padding: 25px;
  padding-left: 50px;
  width: 49%;
}
.favourites {
  display:flex;

  align-items: center;
  margin-left: 20px;
}

.favourites img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.time {
  text-align: center;
}

.time img {
  width: 20px;
  height: 20px;

}

.people img {
  width: 20px;
  height: 20px;


}

.time-people {
  display:flex;

  align-items:center;
}

.people {
  margin-left: 15px;

  text-align: center;
}


.ingredients {
  background-color: #FED5B2;
  margin: 5px;
  padding: 50px;
  min-height:500px;
  width: 49%;
}

.ingredients-people {

  display:flex;
  justify-content: space-between;
}

.method {

  margin: 5px;
  padding: 50px;
  min-height:500px;
  width: 49%;
}

.rating-box {

  margin: 5px;
  padding: 50px;
  min-height:500px;
  width: 49%;
}

.rating {
  margin: 20px;
}

.star-rating{
  color: #bebebe;
  font-size:2em;
}
/*create the star*/
.my-star::before{
  content:"\002605";
}
/*remove the default style (italic) of the star*/
.my-star{
  font-style: unset !important;
}
/*set active star color*/
.is-active{
  color:#fb8900;
}
/*set color on hover*/
.my-star:not(.is-active):hover{
  color: #fb8900;
}

.my-star-2::before{
  content:"\002605";
}
/*remove the default style (italic) of the star*/
.my-star-2{
  font-style: unset !important;
}
/*set active star color*/
.is-active{
  color:#fb8900;
}

.star-rating img.star {
	width: 25px;
	height: auto;
	display: inline-block;
}



.tips{
  background-color: #FED5B2;
  margin: 5px;
  padding: 50px;
  min-height:500px;
  width: 49%;
}


@media (max-width: 1142px) {
  .main, .recipe-image, .recipe-info, .ingredients, .method, .rating-box, .tips, .landing-image, .login-block {
    width: 100%;
    margin: 0;
    padding-top: 10px;
  }

  .landing-image img {
    width: 100%;  /* Ensure the image itself also takes full width */
    height: auto; /* Adjust height to maintain aspect ratio */
  }

  #search-bar {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .main, .recipe-image, .recipe-info, .ingredients, .method, .rating-box, .tips, .landing-image, .login-block  {
    width: 100%;
    margin: 0;
    padding-top: 10px;
    min-height: 50px;


  }

  #search-bar {
    display: none;
  }

  #search-bar-mobile {
    display: inline-block;
    width: 100px;
  }



  .landing-image img {
    width: 100%;  /* Ensure the image itself also takes full width */
    height: auto; /* Adjust height to maintain aspect ratio */
  }

  .login-register-form {
    display: flex;
    flex-direction: column;
    margin-left: -30px;
  }
}




.login-block {
  width: 49%;

}

.login-register-form {
  display: flex;
  flex-direction: column;
}


.main-image {
  width: 49%;
  height: 500px;
  object-fit: cover;
}


.login-register-form input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 15em;
}

.login-register-form button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 10em;
  background-color: #FED5B2;
  font-weight: bold;
  cursor: pointer;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
	height: 4%;
	background-color: #709a2e;
	color: #ffffff;
	margin-top: auto;
	text-align: center;
}
