body {
  background-color: #F9FBE7;
}

header {
	margin-top: 0;
	padding: 3em 1 em 2 em 1 em;
	border-bottom: 5px solid black;
  display: flex;
	align-items: center;
}

/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


#logo {
  vertical-align: middle;
  font-size: 30px;
  margin-right: 35px;
  color: black;
display: flex;
align-items: center;
}
#logo img {
  width: 50px;
  vertical-align: middle;
  margin-right: 10px;
}

nav {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	font-family: 'Trebuchet MS', sans-serif;
	list-style-type: none;
	flex-grow: 1;

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: right;
	}
}
nav ul li a {
    padding: 2px 3px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #444;
}
nav ul li a:hover {
	background: #FFF;
	color: #2E7D32;
}
nav ul li {
    display: inline-block;
    margin: 10px;
}
nav ul {
    list-style: none;
}


h2 {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 2em

}

h5 {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1em;

}


p, ul, ol, li{
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1em;
}

.login-register-form, .input, .button {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1em;
}

.simpleSearch {
	width: 250px;
	height: 23px;
	padding: 0 0 0 3px;
	overflow: hidden;
	display: flex;

	input {
		width: 195px;
	}

}


*,
*::before,
*::after {
  box-sizing: border-box;
}



.main {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}


.recipe-image {
  margin: 5px;
  height:500px;
  width: 49%;

}

.recipe-image img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.recipe-info {
  height:500px;
  margin: 5px;
  padding: 50px;
  width: 49%;
}
.favourites {
  display:flex;

  align-items: center;
  margin-left: 20px;
}

.favourites img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.time {
  text-align: center;
}

.time img {
  width: 20px;
  height: 20px;

}

.people img {
  width: 20px;
  height: 20px;


}

.time-people {
  display:flex;

  align-items:center;
}

.people {
  margin-left: 15px;

  text-align: center;
}


.ingredients {
  background-color: #FED5B2;
  margin: 5px;
  padding: 50px;
  height:500px;
  width: 49%;
}

.ingredients-people {

  display:flex;
  justify-content: space-between;
}

.method {

  margin: 5px;
  padding: 50px;
  height:500px;
  width: 49%;
}

.rating-box {

  margin: 5px;
  padding: 50px;
  height:500px;
  width: 49%;
}

.rating {
  margin: 20px;
}

.star-rating{
  color: #bebebe;
  font-size:2em;
}
/*create the star*/
.my-star::before{
  content:"\002605";
}
/*remove the default style (italic) of the star*/
.my-star{
  font-style: unset !important;
}
/*set active star color*/
.is-active{
  color:#fb8900;
}
/*set color on hover*/
.my-star:not(.is-active):hover{
  color: #fb8900;
}

.tips{
  background-color: #FED5B2;
  margin: 5px;
  padding: 50px;
  height:500px;
  width: 49%;
}


@media (max-width: 768px) { /* Adjusts for screens narrower than 768px */
  .main {
      flex-direction: column;
  }
  .recipe-image, .recipe-info, .ingredients, .method, .rating-box, .tips {
    width: 100%;
  }

}



.login-block {
  width: 49%;

}

.login-register-form {
  display: flex;
  flex-direction: column;
}


.main-image {
  width: 49%;
  height: 500px;
  object-fit: cover;
}


.login-register-form input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 25em;
}

.login-register-form button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 10em;
  background-color: #FED5B2;
  font-weight: bold;
  cursor: pointer;
}
